@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    padding: 20px;
}

#screensucesso {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 255, 117, 0.616);
    position: absolute;
    top: 0;
    left: 0;
}


form {
    padding: 50px;
}

form {
    display: grid;
    grid-template-columns: 100fr 1fr 100fr;
    gap: 50px;
}

form > div > div {
    margin: 20px 0px;
}

form > div >div > p {
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
}

form > #texts >  div > input, form > #texts > div > textarea {
    padding: 10px;
    width: 100%;
    background-color: rgb(227, 227, 255);
    border: 1px solid rgb(48, 48, 138);
    border-radius: 5px;
}

form > #texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

form textarea {
    height: 100%;
    resize: vertical;
}

#barra {
    width: 1px;
    height: 100%;
    background-color: black;
}

#options {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


#form-categoria > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 90%;
}

#form-categoria > div input {
    height: 20px;
    width: 20px;
    accent-color: #30308a;
}

#form-categoria > div > div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: rgb(227, 227, 255);
    border: 1px solid rgb(48, 48, 138);
    border-radius: 5px;
    max-width: 200px;
}

#form-imagem {
    padding: 10px;
    height: 100%;
    width: 276px;
    background-color: rgb(227, 227, 255);
    border: 1px solid rgb(48, 48, 138);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form-imagem label {
    background-color: rgb(48, 48, 138);
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

#form-imagem input {
    display: none;
}

#form-imagem img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    background-color: rgb(180, 180, 255);
    border: 1px solid rgb(48, 48, 138);
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(48, 48, 138);
    color: white;
    border: 1px solid rgb(48, 48, 138);
    border-radius: 5px;
    cursor: pointer;
}

