#sobrePrinc{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.sobrePag{
    display: flex;
    flex-direction: column;
    justify-content: center; /*CENTRALIZA HORIZONTALMENTE*/
    align-items: center;
    width: 80%;
    padding: 32px;
    border: 2px solid;
    border-radius:60px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    background-color: rgb(48, 48, 138);
    color: white;
}