@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    padding: 20px;
}

#container {
    display: grid;
    grid-template-columns: 125fr 1fr 75fr;
    gap: 20px;
    margin-top: 20px;
}

#barra {
    width: 1px;
    height: 100%;
    background-color: black;
    display: flex;
}

#produtos {
    width: 100%;

}

.produto-carrinho {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 0px;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    background-color: rgb(227, 227, 255);
    border: 1px solid rgb(48, 48, 138);
    border-radius: 5px;
}

.produto-carrinho img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    background-color: rgb(180, 180, 255);
    border: 1px solid rgb(48, 48, 138);
    border-radius: 10px;
}

.produto-carrinho #nome-produto {
    font-size: larger;
    font-weight: bold;
}

.produto-carrinho #preco-produto {
    text-align: end;
    margin-right: 10px;
}

.produto-carrinho button {
    background-color: rgb(150, 0, 0);
    color: white;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
}

.produto-carrinho button:hover {
    background-color: rgb(255, 51, 51);

}


#resumo #listagem div,
#resumo #total {
    display: flex;
    justify-content: space-between;
}

#resumo>div {
    margin: 10px 0px;
}

#resumo #cupom {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#resumo #cupom div {
    display: flex;
    align-items: center;
}

#resumo #cupom div input {
    margin-left: 10px;
    min-width: 70%;
    padding: 5px;
    background-color: rgb(227, 227, 255);
    border: 1px solid rgb(48, 48, 138);
    border-radius: 5px;
}

#resumo button {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(48, 48, 138);
    color: white;
    border: 1px solid rgb(48, 48, 138);
    border-radius: 5px;
}

#resumo button:hover {
    background-color: rgb(84, 84, 206);
}

#resumo #comprar {
    font-size: larger;
}

#resumo #total {
    font-size: larger;
}

#precoFinal {
    font-weight: bold;
}


#alertDescontoSucesso {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    padding: 15px;
    background-color: rgb(125, 255, 125);
    border: 3px solid rgb(0, 190, 0);
    border-radius: 10px;
    text-align: center;
    display: none;
}

#alertDescontoInvalido {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    padding: 15px;
    background-color: rgb(255, 49, 49);
    border: 3px solid rgb(172, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
    display: none;
}

#compraFinalizada {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 255, 117, 0.616);
    position: absolute;
    top: 0;
    left: 0;
}

#compraFinalizada h2 {
    font-weight: normal;
}

#carrinhoVazio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
}